/*
* @Author: AhmedYacoub
* @Date:   2017-12-31 21:12:27
* @Last Modified by:   AhmedYacoub
* @Last Modified time: 2017-12-31 21:53:18
*/

#thumbGal {
	min-height: 230px;
	padding-top: 10px;
}

#imgGal {
	min-height: 190px;
}